<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>email</mat-label>
    <input
      formControlName="email"
      type="email"
      matInput
      placeholder="Ej. usuario@ejemplo.com"
    />
    <mat-error
      *ngIf="
        newUserForm.get('email')?.hasError('email') &&
        !newUserForm.get('email')?.hasError('required')
      "
    >
      Ingrese un email valido
    </mat-error>
    <mat-error *ngIf="newUserForm.get('email')?.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>contraseña</mat-label>
    <input
      formControlName="password"
      type="password"
      matInput
      placeholder="***********************"
    />
    <mat-error *ngIf="newUserForm.get('password')?.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>nombre de usuario</mat-label>
    <input
      formControlName="username"
      type="text"
      matInput
      placeholder="usuario ejemplo"
    />
    <mat-error *ngIf="newUserForm.get('username')?.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Etiquetas</mat-label>
    <mat-select formControlName="tags" multiple>
      <mat-option *ngFor="let tag of allTags" [value]="tag._id">{{tag._id}}</mat-option>
    </mat-select>
  </mat-form-field>

  <label>Rol</label>
  <mat-radio-group color="primary" class="radio-group" formControlName="role">
    <mat-radio-button
      class="radio-button"
      *ngFor="let role of allRoles"
      [value]="role"
    >
      {{ role }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>
  <button mat-button [disabled]="newUserForm.invalid" type="submit">
    Registrar
  </button>
</form>
