
<div class="loading-shade-parent">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>

<form [formGroup]="publishHeader">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input formControlName="name" type="text" matInput />
    <mat-error *ngIf="publishHeader.get('name')?.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tipo de grafico</mat-label>
    <mat-select formControlName="type" #type (valueChange)="typeChanged($event)">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Etiquetas</mat-label>
    <mat-chip-list #chipList aria-label="Seleccion de etiqueta">
      <mat-chip *ngFor="let tag of tags; index as i" (removed)="remove(i)">
        {{ tag }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Nueva etiqueta"
        #tagInput
        formControlName="tags"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form [formGroup]="publishStructure">
  <div [ngSwitch]="type.value">
    <div *ngSwitchCase="'STMV'">
      <mat-form-field>
        <mat-label>Año inicio</mat-label>
        <input formControlName="yearA" type="number" matInput />
        <mat-error
          *ngIf="publishStructure.get('yearA')?.hasError('required')"
        >
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Año fin</mat-label>
        <input formControlName="yearB" type="number" matInput />
        <mat-error
          *ngIf="publishStructure.get('yearB')?.hasError('required')"
        >
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'INSC'">
      <mat-form-field>
        <mat-label>Año</mat-label>
        <input formControlName="year" type="number" matInput />
        <mat-error *ngIf="publishStructure.get('year')?.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<button
  mat-button
  [disabled]="publishHeader.invalid || publishStructure.invalid"
  (click)="onSubmit()"
>
  Publicar
</button>

</div>
