<mat-card>
  <mat-card-header>
    <mat-card-title>Ingresar</mat-card-title>
    <mat-card-subtitle>Proporcione su usuario y contraseña</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
    </form>
    <button mat-button routerLink="/home">LOGIN</button>
  </mat-card-actions>
</mat-card>
