<mat-card *ngIf="chart">
  <mat-card-header>
    <mat-card-title>Detalles del grafico "{{ chart.name }}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Descripcion</h2>
    <p style="white-space: pre-wrap">
      {{ chart.description }}
    </p>

    <h2>Tipo</h2>
    <p>{{ chart.type }}</p>

    <h2>Fecha de creación</h2>
    <p>{{ chart.createdAt | date }}</p>

    <h2>Ultima actualización</h2>
    <p>{{ chart.updatedAt | date }}</p>

    <h2>Tags</h2>
    <p>
      <mat-chip-list aria-label="Etiquetas" disabled="true">
        <div *ngFor="let tag of chart.tags">
          <mat-chip>{{ tag }}</mat-chip>
        </div>
      </mat-chip-list>
    </p>

    <h2>Informacion contenida</h2>
    <p>{{ chart.structure | json }}</p>

    <button mat-raised-button (click)="openDeleteDialog()" style="color: red">
      <mat-icon color="warn">delete</mat-icon>
      Borrar
    </button>
  </mat-card-content>
</mat-card>
