<mat-card *ngIf="file">
  <mat-card-header>
    <mat-card-title>Detalles del archivo "{{ file.name }}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Descripcion</h2>
    <p style="white-space: pre-wrap">
      {{ file.description ?? "Sin descripcion" }}
    </p>

    <h2>Tipo</h2>
    <p>{{ file.type }}</p>

    <h2>Fecha de creación</h2>
    <p>{{ file.createdAt | date }}</p>

    <h2>Ultima actualización</h2>
    <p>{{ file.updatedAt | date }}</p>
  </mat-card-content>
</mat-card>
