<mat-card *ngIf="file">
  <mat-card-title
    >Detalles del archivo
    <app-editable-text-field
      [isTextArea]="false"
      [value]="file.name"
      (wasModified)="nameModified($event)"
    ></app-editable-text-field
  ></mat-card-title>
  <mat-card-content>
    <h2>Descripcion</h2>
    <p style="white-space: pre-wrap">
      <app-editable-text-field
        [isTextArea]="true"
        [value]="file.description"
        [alternativeValue]="'Sin descripcion'"
        (wasModified)="descriptionModified($event)"
      ></app-editable-text-field>
    </p>

    <div
      *ngIf="
        file.type === 'student-scholarships-progresar' ||
        file.type === 'student-scholarships-belgrano'
      "
    >
      <button
        class="chooseFileButton"
        type="button"
        mat-raised-button
        (click)="fileInput.click()"
      >
        Actualizar archivo
      </button>
      <span class="file-name">{{ selectedFile?.name }}</span>
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        accept=".xlsx"
      />
      <button
        type="button"
        (click)="updateFile()"
        mat-button
        color="accent"
        [disabled]="selectedFile == null"
      >
        Cargar actualizacion
      </button>
    </div>

    <h2>Tipo</h2>
    <p>{{ file.type }}</p>

    <h2>Fecha de creación</h2>
    <p>{{ file.createdAt | date }}</p>

    <h2>Ultima actualización</h2>
    <p>{{ file.updatedAt | date }}</p>
  </mat-card-content>
</mat-card>
