mat-sidenav-content mat-toolbar {
  position: fixed;
  z-index: 100;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: white;
  width: 200px;
  position: fixed;
  z-index: 200;
}

.content {
  padding-top: 70px;
}

.black-icon {
  color: white;
  background-color: grey;
}

.example-spacer {
  flex: 1 1 auto;
}
