<mat-card>
  <mat-card-header>
    <mat-card-title>Detalles del usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 mat-line>Usuario</h3>
        <p mat-line>{{ user.username }}</p>
      </mat-list-item>

      <mat-list-item>
        <h3 mat-line>Email</h3>
        <p mat-line>{{ user.email }}</p>
      </mat-list-item>

      <mat-list-item>
        <h3 mat-line>Fecha de creación</h3>
        <p mat-line>{{ user.createdAt | date }}</p>
      </mat-list-item>

      <mat-list-item>
        <h3 mat-line>Ultima actualización</h3>
        <p mat-line>{{ user.updatedAt | date }}</p>
      </mat-list-item>

      <mat-list-item>
        <h3 mat-line>Tags</h3>
        <p mat-line>
          <mat-chip-list aria-label="Etiquetas" disabled="true">
            <div *ngFor="let tag of user.tags">
              <mat-chip>{{ tag }}</mat-chip>
            </div>
          </mat-chip-list>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
