<mat-card appearance="outlined" *ngIf="user">
  <mat-card-header>
    <mat-card-title>Detalles del usuario "{{ user.username }}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Email</h2>
    <p>{{ user.email }}</p>

    <h2>Fecha de creación</h2>
    <p>{{ user.createdAt | date }}</p>

    <h2>Ultima actualización</h2>
    <p>{{ user.updatedAt | date }}</p>

    <h2>Tags</h2>
    <p>
      <app-modifiable-tags
        [tags]="user.tags"
        (wasModified)="tagsModified($event)"
      ></app-modifiable-tags>
    </p>

    <button mat-raised-button (click)="openDeleteDialog()" style="color: red">
      <mat-icon color="warn">delete</mat-icon>
      Borrar
    </button>
  </mat-card-content>
</mat-card>
