<section>
  <mat-form-field>
    <mat-label>Año inicio</mat-label>
    <mat-select [formControl]="yearAInputControl">
      <mat-option *ngFor="let year of availableStartYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="yearAInputControl.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Año fin</mat-label>
    <mat-select [formControl]="yearBInputControl">
      <mat-option *ngFor="let year of availableEndYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="yearBInputControl.hasError('required')">
      Campo <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="sch-type">
    <mat-label>Tipo de beca</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="scholarshipTypeInputControl"
    >
      <mat-option *ngFor="let schType of schTypes" [value]="schType.value">
        {{ schType.label | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unidad inicio</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="unitAInputControl"
    >
      <mat-option *ngFor="let unit of availableAUnits" [value]="unit">
        {{ unit ?? "Sin filtro" | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Unidad fin</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="unitBInputControl"
    >
      <mat-option *ngFor="let unit of availableBUnits" [value]="unit">
        {{ unit ?? "Sin filtro" | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="sex">
    <mat-label>Sexo</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="genderInputControl"
    >
      <mat-option *ngFor="let gender of availableGenders" [value]="gender._id">
        {{ gender.label | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Carrera inicio</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="offerAInputControl"
    >
      <mat-option *ngFor="let offer of availableStartOffers" [value]="offer">
        {{ offer ?? "Sin filtro" | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Carrera fin</mat-label>
    <mat-select
      panelClass="custom-select-panel"
      [formControl]="offerBInputControl"
    >
      <mat-option *ngFor="let offer of availableEndOffers" [value]="offer">
        {{ offer ?? "Sin filtro" | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
