<form class="main-form" [formGroup]="transformationForm">
  <form formGroupName="transformationHeader">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input formControlName="name" type="text" matInput />
      <mat-error
        *ngIf="
          transformationForm
            .get('transformationHeader.name')
            ?.hasError('required')
        "
      >
        Campo <strong>requerido</strong>
      </mat-error>
      <mat-error
        *ngIf="
          transformationForm
            .get('transformationHeader.name')
            ?.hasError('maxlength')
        "
      >
        Limite de 256 caracteres alcanzado
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input formControlName="description" type="text" matInput />
      <mat-error
        *ngIf="
          transformationForm
            .get('transformationHeader.description')
            ?.hasError('maxlength')
        "
      >
        Limite de 512 caracteres alcanzado
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de grafico</mat-label>
      <mat-select
        formControlName="type"
        #type
        (valueChange)="typeChanged($event)"
      >
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Etiquetas</mat-label>
      <mat-select formControlName="tags" multiple>
        <mat-option *ngFor="let tag of allTags" [value]="tag._id">{{
          tag._id
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form formGroupName="transformationBody">
    <div [ngSwitch]="type.value">
      <div *ngSwitchCase="'STMV'">
        <app-student-movements
          [transformationBody]="this.transformationBodyGroup"
        ></app-student-movements>
      </div>

      <div *ngSwitchCase="'INSC'">
        <app-student-inscriptions
          [transformationBody]="this.transformationBodyGroup"
        ></app-student-inscriptions>
      </div>
    </div>
  </form>
  <mat-divider></mat-divider>

  <button
    mat-button
    [disabled]="transformationForm.invalid"
    (click)="previsualize()"
  >
    Previsualizar
  </button>
</form>

<section *ngIf="previsualizedChart">
  <app-chart [chart]="previsualizedChart"></app-chart>
  <button mat-button (click)="publish()">Publicar</button>
</section>

<app-shade-loading-spinner *ngIf="loading"></app-shade-loading-spinner>
