<mat-card appearance="outlined" *ngIf="tag">
  <mat-card-header>
    <mat-card-title>Detalles de la etiqueta "{{ tag._id }}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Descripcion</h2>
    <p style="white-space: pre-wrap">{{ tag.description }}</p>

    <h2>Fecha de creación</h2>
    <p>{{ tag.createdAt | date }}</p>

    <h2>Ultima actualización</h2>
    <p>{{ tag.updatedAt | date }}</p>

    <button mat-raised-button (click)="openDeleteDialog()" style="color: red">
      <mat-icon color="warn">delete</mat-icon>
      Borrar
    </button>
  </mat-card-content>
</mat-card>
